.Login-form{
    height: 350px;
    max-width: 400px;
    width: 100%;
 
}

.Login-form__title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #4E5D78;
}

.Login-form__directional{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
    font-size: 12px;
    font-size: 500;
}

.Login-form__field{
    height: 40px;
    margin: 15px 0;
}

.Login-form__checkbox{
    display: flex;
    align-items: center;
    height: 40px;
    margin: 15px 0;
}

.Login-form__checkbox span{
    display: flex;
    align-items: center;
    color: #4E5D78;
    font-weight: 400;
}

.Login-form__btn{
    height: 50px;
}

.Login-form__registration{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login-form__registration span{
    margin-right: 10px;
    color: #4E5D78;
}

.Login-form__registration a{
    color: #377DFF;
    cursor: pointer; 
}

.Login-form__registration a:hover{
    text-decoration: underline;
}