.Profile-page {
    /* overflow: hidden; */
    /* position: relative; */
}



.Profile-page__user {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(157, 168, 176, 0.2);
    -moz-box-shadow: 0px 4px 3px 0px rgba(157, 168, 176, 0.2);
    box-shadow: 0px 4px 3px 0px rgba(157, 168, 176, 0.2);
    height: 450px;
    border-radius: 10px;
}

.Profile-page__avatar{
    position: absolute;
    left: 40px;
    bottom: 130px;
    border: 3px solid white;
}

.Profile-page-user__top{
    height: 65%;
    background-image: url('https://mobimg.b-cdn.net/v3/fetch/2c/2ca5b1e34be1c1248bb400ea7edc744c.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.Profile-page-user__bottom{
    display: flex;
    height: 35%;
    justify-content: space-between;
    padding: 0 40px;
}

.Profile-user-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Profile-container-element{
    width: max-content;
    height: max-content;
}



.Profile-page-user__name{
    margin-bottom: 10px;
}
.Profile-page-user__name span{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #4E5D78;
}

.Profile-page-user__status span{
    font-size: 14px;
    color: #BCC2CC;
    font-weight: 700;
}

.Profile-page-use__right-container__button{
    /* width: 100px; */
    height: 40px;
}

.Profile-page__content {
    margin-top: 30px;
    background-color: #F9FAFB;
    padding: 30px;
    border-radius: 10px;
    height: max-content;
}

